#nav-items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 15%;
}
#nav-logo{
    margin-top: 1rem;
    transition: transform .3s;
}
#nav-logo a,
img :active{
    user-select: none;
}
#nav-logo:hover{
    transform: scale(105%) rotate(-15deg);
}
#nav-menu-box{
    background: url("../media/nav-menu/nav-menu-bg.jpg") center;
    float: left;
    height: 100%;
    position: absolute;
    width: 35%;
}
#nav-menu-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform .5s;
    width: 100%;
}
#nav-menu-container:hover{
    backdrop-filter: blur(3px);
}
#nav-menu-footer{
    color: white;
    text-align: center;
}
#nav-menu-footer p{
    font-family: "Cascadia Code";
    font-size: medium;
    font-style: italic;
}

.nav-item{
    color: #ffffff;
    font-family: 'Old Standard TT', serif;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
}

.nav-item-smaller{
    color:black;
    font-size: 1rem;
}

.nav-item-active{
    color: rgb(247, 123, 14);
}

.nav-item:hover{
    color: rgb(247, 123, 14);
    transform: scale(115%);
}
.page-content-box{
    align-items: center;
    background: #f6eabe;
    display: flex;
    flex-direction: column;
    float: right;
    height: 100%;
    justify-content: center;
    width: 65%;
}

body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.breadcrumb-arrow{
    color: rgb(247, 123, 14);
    font-size: xx-large;
}
